{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div id="createStoryForm">
        <h5>Welcome to SheCodes! Create an account and share your stories!</h4>
        <img id=form-img src="{% static 'news/images/createStory.jpeg' %}">
        <div id="form-wrapper">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button id= "submit_button" type="submit">Create Account</button>
            </form>
        
        </div>
    </div>
</body>



#
<h2>Create Account</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Account</button>
</form>
{% endblock %}